<div th:fragment="script">
    <script th:src="@{/assets/back-end/js/jquery.min.js}"></script>
    <script th:src="@{/assets/back-end/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/back-end/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/back-end/js/adminlte.min.js}"></script>
    <script th:src="@{/assets/back-end/js/dashboard.js}"></script>
<!--    <script th:src="@{/assets/tinymce/tinymce.min.js}"></script>-->
<!--    <script th:src="@{/assets/tinymce/config.js}"></script>-->
    <script th:src="@{/assets/back-end/js/function.js}"></script>
</div>

