<header class="header header-intro-clearance header-4" style="background-color: rgb(159 237 175 / 80%);" th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
            </div><!-- End .header-left -->

            <div class="header-right" th:if="${loggedInUser == null}">
                <ul class="top-menu">
                    <li>
                        <ul>
                            <li><a th:href="@{/logon}">Sign in / Sign up</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <a href="/" class="logo">
                    <img th:src="@{/assets/front-end/images/n4j-logo.png}" alt="Logo" width="250" style="border-radius: 12px;">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form th:action="@{/search}">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="keyword" id="q"
                                   placeholder="Search ..." required>
<!--                            <button class="btn btn-primary" type="submit" value="Tìm kiếm"></button>-->
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="dropdown compare-dropdown">
                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->

            <div th:if="${loggedInUser != null}">
                <span>Xin chào, <span th:text="${loggedInUser.fullName}"></span>!</span>
                <a href="/logout">Đăng Xuất</a>
            </div>

        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container" style="justify-content: center;">
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows menu-bar">
                            <li class="megamenu-container active">
                                <a href="/" class="" style="font-size: 16px; width: 150px; text-align: center;">Trang chủ</a>
                            </li>
                            <li class="hover-sub-menu">
                                <a href="#" class="" style="font-size: 16px; width: 150px; text-align: center;">Loại sân</a>
                                <ul class="sub-menu" style="font-size: 16px; display: none; position: absolute; min-width: 200px;
                                                    top: 51px; left: 0px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0 16px 2px; border-radius: 4px;">
                                    <li th:each="f : ${fieldTypeList}" style="width: 100%;">
                                        <a th:href="@{/fieldtype/{id}(id=${f.fieldTypeId})}" th:text="${f.typeName}" style="font-size: 16px;"></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/field" class="" style="font-size: 16px; width: 150px; text-align: center;">Sân</a>
                            </li>
                            <li>
                                <a href="#" class="" style="font-size: 16px; width: 150px; text-align: center;">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#" class="" style="font-size: 16px; width: 150px; text-align: center;">Liên hệ</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
</header>