<header class="header header-intro-clearance header-4" th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <ul>
                            <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <a href="#" class="logo">
                    <img th:src="@{assets/front-end/images/n4j-logo.png}" alt="Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q"
                                   placeholder="Search ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="dropdown compare-dropdown">
                    <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" data-display="static">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container" style="justify-content: center;">
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="index.html" class="" style="width: 80px; text-algin: center;">Home</a>
                            </li>
                            <li>
                                <a href="category.html" class="" style="width: 80px; text-algin: center;">Shop</a>
                            </li>
                            <li>
                                <a href="product.html" class="" style="width: 80px; text-algin: center;">Product</a>
                            </li>
                            <li>
                                <a href="#" class="" style="width: 80px; text-algin: center;">Pages</a>
                            </li>
                            <li>
                                <a href="blog.html" class="" style="width: 80px; text-algin: center;">Blog</a>
                            </li>
                            <li>
                                <a href="elements-list.html" class="" style="width: 80px; text-algin: center;">Elements</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
</header>