<div th:fragment="script">
  <script th:src="@{/assets/front-end/js/jquery.min.js}"></script>
  <script th:src="@{/assets/front-end/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/front-end/js/jquery.hoverIntent.min.js}"></script>
  <script th:src="@{/assets/front-end/js/jquery.waypoints.min.js}"></script>
  <script th:src="@{/assets/front-end/js/superfish.min.js}"></script>
  <script th:src="@{/assets/front-end/js/owl.carousel.min.js}"></script>
  <script th:src="@{/assets/front-end/js/bootstrap-input-spinner.js}"></script>
  <script th:src="@{/assets/front-end/js/jquery.plugin.min.js}"></script>
  <script th:src="@{/assets/front-end/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/assets/front-end/js/jquery.countdown.min.js}"></script>
  <script th:src="@{/assets/js/jquery.elevateZoom.min.js}"></script>

  <!-- Main JS File -->
  <script th:src="@{/assets/front-end/js/main.js}"></script>
  <script th:src="@{/assets/front-end/js/demos/demo-4.js}"></script>
</div>