<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/layout/tag_head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <!--Header-->
    <div th:replace="~{admin/layout/header :: header}"></div>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/layout/side_bar :: sidebar}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Thêm Giờ mới</h1>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                <li><a th:href="@{/admin/timeslot}">Quản lý Giờ</a></li>
                <li class="active">Thêm mới</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <a class="btn btn-primary" href="/admin/timeslot">Quay lại</a>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" th:action="@{/admin/add-timeslot}" th:object="${timeSlot}">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Price Per Hour:</label>
                                    <input type="text" class="form-control" th:field="*{pricePerHour}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Start Time:</label>
                                    <input type="text" name="startTime" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">End Time:</label>
                                    <input type="text" name="endTime" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{admin/layout/footer :: footer}"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<!--script-->
<div th:replace="~{admin/layout/tag_script :: script}"></div>
</body>
</html>
