<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">

<head th:replace="layout/tag_head :: head"></head>
<style>
  .menu-bar > li {
          position: relative;
      }
  .sub-menu {
          display: none;
          position: absolute;
          min-width: 180px;
          top: 51px;
          left: 40px;
      }
      .sub-menu > li {
          list-style: none;
          height: 50px;
          width: 180px;
          height: 50px;
          line-height: 50px;

      }
      .sub-menu > li:hover {

          background-color: rgb(5, 131, 45);
      }
      .sub-menu >li:hover a {
          color: white;
      }
      .sub-menu > li > a{
          text-decoration: none;
      }
      .hover-sub-menu:hover > .sub-menu {
          display: block;
      }
  .product-details-action .btn-cart:hover > span {
    color: white;
  }
</style>
<body>
<div class="page-wrapper">
  <!-- Begin Header-->
  <header th:replace="layout/header :: header"></header>
  <!-- End Header -->

  <main class="main">
    <div class="container for-you" style="margin-top: 30px;">
      <!--            <div class="heading heading-flex mb-3">-->
      <!--                <div class="heading-left">-->
      <!--                    <h2 class="title">Recommendation For You</h2>&lt;!&ndash; End .title &ndash;&gt;-->
      <!--                </div>&lt;!&ndash; End .heading-left &ndash;&gt;-->

      <!--                <div class="heading-right">-->
      <!--                    <a href="#" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>-->
      <!--                </div>&lt;!&ndash; End .heading-right &ndash;&gt;-->
      <!--            </div>&lt;!&ndash; End .heading &ndash;&gt;-->

      <div class="container" >
        <div class="product-details-top mb-2">
          <div class="row">
            <div class="col-md-6">
              <div class="product-gallery">
                <figure class="product-main-image">
                  <img id="product-zoom" th:src="@{'/assets/upload/' + ${field.fieldImage}}" style="width: 50%;">

                  <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                    <i class="icon-arrows"></i>
                  </a>
                </figure><!-- End .product-main-image -->

<!--                <div id="product-zoom-gallery" class="product-image-gallery">-->
<!--                  <a class="product-gallery-item" href="#">-->
<!--                    <img th:src="@{/assets/front-end/images/products/single/extended/1-small.jpg}" alt="product side">-->
<!--                  </a>-->

<!--                  <a class="product-gallery-item" href="#">-->
<!--                    <img th:src="@{/assets/front-end/images/products/single/extended/2-small.jpg}" alt="product cross">-->
<!--                  </a>-->

<!--                  <a class="product-gallery-item active" href="#">-->
<!--                    <img th:src="@{/assets/front-end/images/products/single/extended/3-small.jpg}" alt="product with model">-->
<!--                  </a>-->

<!--                  <a class="product-gallery-item" href="#">-->
<!--                    <img th:src="@{/assets/front-end/images/products/single/extended/4-small.jpg}" alt="product back">-->
<!--                  </a>-->

<!--                </div>&lt;!&ndash; End .product-image-gallery &ndash;&gt;-->
              </div><!-- End .product-gallery -->
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
              <div class="product-details">
                <h1 class="product-title" th:text="${field.fieldName}"></h1><!-- End .product-title -->

                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                  </div><!-- End .ratings -->
                  <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                </div><!-- End .rating-container -->

                <div class="product-price">
                  $70.00
                </div><!-- End .product-price -->

                <div class="product-content">
                  <p style="padding-right: 5px;">Địa chỉ:</p>
                  <p th:text="${field.address}"></p>
                </div><!-- End .product-content -->

                <div class="details-filter-row details-row-size">
                  <label>Color:</label>

                  <div class="product-nav product-nav-dots">
                    <a href="#" class="active" style="background: #eab656;"><span class="sr-only">Color name</span></a>
                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                    <a href="#" style="background: #3a588b;"><span class="sr-only">Color name</span></a>
                    <a href="#" style="background: #caab97;"><span class="sr-only">Color name</span></a>
                  </div><!-- End .product-nav -->
                </div><!-- End .details-filter-row -->

                <div class="details-filter-row details-row-size">
                  <label for="size">Size:</label>
                  <div class="select-custom">
                    <select name="size" id="size" class="form-control">
                      <option value="#" selected="selected">Select a size</option>
                      <option value="s">Small</option>
                      <option value="m">Medium</option>
                      <option value="l">Large</option>
                      <option value="xl">Extra Large</option>
                    </select>
                  </div><!-- End .select-custom -->
                </div><!-- End .details-filter-row -->

                <div class="product-details-action">
                  <a href="/cart" class="btn-product btn-cart"><span>ĐẶT SÂN</span></a>
                </div><!-- End .product-details-action -->

                <div class="product-details-footer">
                  <div class="product-cat">
                    <span>Field Type:</span>
                    <a th:text="${field.fieldType.typeName}"></a>
                  </div><!-- End .product-cat -->

                  <div class="social-icons social-icons-sm">
                    <span class="social-label">Share:</span>
                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                  </div>
                </div><!-- End .product-details-footer -->
              </div><!-- End .product-details -->
            </div><!-- End .col-md-6 -->
          </div><!-- End .row -->
        </div><!-- End .product-details-top -->
      </div>
    </div><!-- End .container -->
  </main><!-- End .main -->

  <!-- Begin Footer    -->
  <footer th:replace="layout/footer :: footer"></footer>
  <!-- End Footer -->
</div><!-- End .page-wrapper -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<div th:replace="layout/tag_script :: script"></div>

</body>

<!-- Mirrored from portotheme.com/html/molla/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2024 02:55:58 GMT -->
</html>