<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/tag_head :: head"></head>

<body>
<div class="page-wrapper">
    <!-- Begin Header-->
    <header th:replace="layout/header :: header"></header>
    <!-- End Header -->

    <main class="main">
        <div class="intro-slider-container mb-5">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                 data-owl-options='{
                            "dots": true,
                            "nav": false,
                            "responsive": {
                                "1200": {
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                <div class="intro-slide"
                     style="background-image: url(assets/front-end/images/banner1.jpg);">
                    <div class="container intro-content">
                        <div class="row justify-content-end">
                            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-third" style="color: white; -webkit-text-stroke: 1px blue;
                                                                        font-weight: bold;font-size: 24px;">
                                    Hệ thống sân bóng N4J
                                </h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Uy tín</h1>
                                <h1 class="intro-title text-white">Chất lượng</h1><!-- End .intro-title -->
                            </div><!-- End .col-lg-11 offset-lg-1 -->
                        </div><!-- End .row -->
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide"
                     style="background-image: url(assets/front-end/images/banner2.jpg);">
                    <div class="container intro-content">
                        <div class="row justify-content-end">
                            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-primary" style="-webkit-text-stroke: 1px orange;
                                                                            font-weight: bold; font-size: 24px;
                                                                            color: white !important;">
                                    Hệ thống sân bóng N4J
                                </h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Toàn Quốc<br>Đa Dạng</h1>
                                <!-- End .intro-title -->
                            </div><!-- End .col-md-6 offset-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->
        <div class="container for-you">
<!--            <div class="heading heading-flex mb-3">-->
<!--                <div class="heading-left">-->
<!--                    <h2 class="title">Recommendation For You</h2>&lt;!&ndash; End .title &ndash;&gt;-->
<!--                </div>&lt;!&ndash; End .heading-left &ndash;&gt;-->

<!--                <div class="heading-right">-->
<!--                    <a href="#" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>-->
<!--                </div>&lt;!&ndash; End .heading-right &ndash;&gt;-->
<!--            </div>&lt;!&ndash; End .heading &ndash;&gt;-->

            <div class="products">
                <div class="row justify-content-center">

                    <div class="col-6 col-md-4 col-lg-3" th:each="field : ${fieldList}">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a th:href="@{/detail-field/{fieldId}(fieldId=${field.fieldId})}">
                                    <img th:src="@{'/assets/upload/' + ${field.fieldImage}}"
                                         alt="Product image"
                                         class="product-image" height="">
                                </a>

<!--                                <div class="product-action">-->
<!--                                    <a href="#" class="btn-product btn-cart"-->
<!--                                       title="Add to cart"><span>Add to cart</span></a>-->
<!--                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>-->
<!--                                </div>&lt;!&ndash; End .product-action &ndash;&gt;-->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#" th:text="${field.fieldType.typeName}" style="font-weight: bold;"></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a th:href="@{/detail-field/{fieldId}(fieldId=${field.fieldId})}"
                                                             th:text="${field.fieldName}"></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <p class="product-price" style="padding-right: 5px;">Địa chỉ:</p>
                                    <p class="product-price" th:text="${field.address}"></p>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- End .container -->
    </main><!-- End .main -->

    <!-- Begin Footer    -->
    <footer th:replace="layout/footer :: footer"></footer>
    <!-- End Footer -->
</div><!-- End .page-wrapper -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<div th:replace="layout/tag_script :: script"></div>

</body>

<!-- Mirrored from portotheme.com/html/molla/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2024 02:55:58 GMT -->
</html>