<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/tag_head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <!--Header-->
    <div th:replace="admin/layout/header :: header"></div>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/layout/side_bar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Sửa thông tin Danh mục</h1>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                <li><a th:href="@{/admin/field}">Quản lý Sân</a></li>
                <li class="active">Sửa</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <a class="btn btn-primary" href="/admin/field">Quay lại</a>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" enctype="multipart/form-data" th:action="@{/admin/add-field}" th:object="${field}">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Field Name:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{fieldName}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Field Image:</label>
                                    <input type="file" name="fileImage" onchange="loadFile(event)">
                                    <img style="margin-top: 20px;" th:src="@{'/assets/upload/' + ${field.fieldImage}}" id="outputImg" width="200">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Status:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{status}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Address:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{address}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Loại sân</label>
                                    <select class="form-control" style="width: 100%;" th:field="*{fieldType.fieldTypeId}">
                                        <option th:each="fieldType : ${fieldTypeList}" th:value="${fieldType.fieldTypeId}" th:text="${fieldType.typeName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="admin/layout/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<!--script-->
<div th:replace="admin/layout/tag_script :: script"></div>
</body>
</html>

<script>
    var loadFile = function (event) {
        var image = document.getElementById("outputImg");
        image.src = URL.createObjectURL(event.target.files[0]);
        image.width = 200;
        image.style.marginTop = "20px";
    }
</script>